@import "../../styles.scss";

.autocomplete {
  width: 100%;
  max-height: 10rem;
  background-color: $bg-snow;
  border-radius: $br-med;
  padding: $pd-med;
  position: absolute;
  bottom: calc(100% + 8px);
  color: $font-color-main;

  .title {
    font-variant: small-caps;
    font-size: 1rem;
    padding: $pd-med;
    border-bottom: 1px solid #8080802b;
    margin-bottom: 0.55rem;
    font-weight: 600;
  }

  .user-row {
    padding: $pd-med;
    border-radius: $br-med;

    &:hover {
      background-color: #a5a6b4;
      cursor: pointer;
    }
  }
}
