.main {
  background-color: rgb(64, 68, 75);
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  margin: auto;
  width: 750px;
  position: relative;
}
