@import "../../styles.scss";

input {
  height: 42px;
  width: 400px;
  padding: $pd-med;
  border-radius: $br-med;
  border: none;
  background-color: $bg-snow;
  color: $font-color-main;

  // &:focus {
  //   outline: none;
  //   border: 4px solid #89aaff;
  // }
}
