@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

// global styles
$bg-snow: #dcddee;
$br-med: 0.4rem;
$pd-med: 0.55rem;
$font-color-main: #3d3d3d;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  // font-weight: 400;
  // font-weight: 500;
  font-weight: 300;
  // font-weight: 700;
}
